@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: 17 24 39; /* gray-900 */
  --color-stroke: 148 163 184; /* gray-400 */
  --color-surface: 255 255 255 0.8; /* white */
  --color-highlight: 148 163 184; /* gray-400 */
  --border-style: 1px solid rgba(110, 83, 110, 1);
  --bg-button: linear-gradient(
    90deg,
    #f5f5f5 0%,
    #f3d6ec 55%,
    rgb(238, 186, 227) 100%
  );
  --bg-hover-button: rgba(238, 186, 227, 0.2);
  --bg-image: url('/bg-desktop-light.png');

  --font-sans:
    Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial;
  --tw-ring-offset-color: var(--color-surface) @media (max-width: 768px)
    {--bg-image: url('/bg-mobile-light.png') ;};
}

.dark {
  --color-text: 255 255 255; /* white */
  --color-stroke: 100 116 139; /* slate-500 */
  --color-surface: rgb(255, 255, 255, 0.15); /* gray-900 */
  --border-style: 1px solid rgba(255, 255, 255, 1);
  --color-highlight: 100 116 139; /* slate-500 */
  --bg-image: url('/bg-desktop.png');
  --bg-button: rgba(255, 255, 255, 0.1);
  --bg-hover-button: rgba(255, 255, 255, 0.2);
  --tw-ring-offset-color: var(--color-surface);
}

@media (max-width: 768px) {
  .dark {
    --bg-image: url('/bg-mobile.png');
  }
}

html,
body,
#__next {
  height: 100%;
}

body {
  @apply antialiased;
  font-family: var(--font-sans);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  color: rgb(var(--color-text));
}

/* Utility classes for swatches */
.swatch {
  width: 96px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.container-wide {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
}

/* simple card */
.card {
  border-radius: 12px;
  /* padding: 1.25rem; */
  /* border: 1px solid rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 0.6); */
  color: rgb(var(--color-text));
}

.dark .card {
  /* background: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.06); */
}

.container-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profile-inner {
  width: 100%;
  max-width: 720px;
  /* padding: 3rem; */
  display: flex;
  justify-content: center;
}
